<div *ngIf="dataSource" class="container">
    <mat-card class="example-card" appearance="outlined" *ngFor="let element of dataSource">
        <img mat-card-image [src]="element.picture" [alt]="element.picture">
        <mat-card-content>
            <h1>{{element.title}}</h1>
            <p>Duration: {{element.duration}}</p>
            <p>Genre: 
                <span *ngFor="let genre of element.genre; let i = index">
                    {{ genre.name }}<span *ngIf="i < element.genre.length - 1">, </span>
                </span>
            </p>
            <p>Showtime: {{element.showtime}}</p>
        </mat-card-content>
        <mat-card-actions>
            <a mat-button [routerLink]="['/details/', element.id]">
                <i class="fa-solid fa-arrow-up-right-from-square"></i> Details
            </a>
            <a mat-button [routerLink]="['/details/'+element.id+'/order']">
                <i class="fa-solid fa-cart-shopping"></i> Book Now
            </a>
        </mat-card-actions>
    </mat-card>
</div>
